:root {
    --light: #FFFFF1;
    --yellow: #FFBB00;
    --orange: #FA6000;
    --blue: #607196;
    --navy: #404E80;
    --dark: #0f0a0a;
    --all-text: 25px;
    --blur: 5px;
    --blurh: 25px;
    --nblur: -5px;
    --hblurh: -25px;
}

.nav404 {
    text-decoration: none;
    background-color: var(--dark);
    text-shadow: 0px 0px var(--blur) var(--orange), 0px 0px var(--blur) var(--orange), 0px 0px var(--blur) var(--orange), 0px 0px var(--blur) var(--orange);
    color: var(--orange);

    
}

.nav404:hover {
    background-color: var(--orange);
    text-shadow:
    0px 0px var(--blurh) var(--orange), 
    0px 0px var(--blurh) var(--orange), 
    0px 0px var(--blurh) var(--orange), 
    0px 0px var(--blurh) var(--orange);
    color: var(--dark);
    padding-left: 0px;
    padding-right: 0px;
}

.nav404:before {
    content: "[ "
}

.nav404:after {
    content: " ]"
}

.not_found {
    font-family: IBMVGA;
}

@keyframes change {
    10%{
        content:"?04";
    }

    20%{
        content:"404";
    }

    30%{
        content:"4░4";
    }

    40%{
        content:"404";
    }

    50%{
        content:"4??";
    }

    60%{
        content:"404";
    }

    70%{
        content:"░░░";
    }

    80%{
        content:"404";
    }

    90%{
        content:"404";
    }

    100%{
        content:"???";
    }

}

.shift {
    &:after{
        content: "404";
        animation-name: change;
        animation-delay: 2s;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }
}