/* todo: license + link to designer */
/* standard header text IBM VGA 9x16 */
@font-face {
  font-family: IBMVGA;
  src: url('https://bees-please.github.io/shared_resources/fonts/MxPlus_IBM_VGA_9x16.woff');
}

/* todo: license + link to designer */
/* standard body text VCR OSD MONO */
@font-face {
  font-family: VCRMONO;
  src: url('https://bees-please.github.io/shared_resources/fonts/VCR_OSD_MONO.woff');
}

/* color variables */
:root {
  --light: #FFFFF1;
  --yellow: #FFBB00;
  --orange: #FA6000;
  --blue: #607196;
  --navy: #404E80;
  --dark: #0f0a0a;
  --all-text: 25px;
}

/* standard text and background layer */
* {
  color: var(--light);
  background-color: var(--dark);
  font-size: var(--all-text);
}

/* standard body text */
body {
  padding: 15px; 
  margin: 0;
  font-family: VCRMONO;
  font-size: var(--all-text);
}

p {
  padding: 15px;
  margin: 0;
  font-family: VCRMONO;
  font-size: var(--all-text);
}

h1 {
  padding: 15px;
  margin: 0;
  font-family: IBMVGA;
  font-size: var(--all-text);
}

/* navbars and higher order selectables */
.navbar ul {
  font-size: var(--all-text);
  font-family: IBMVGA;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

/* outbound links (removes underline) */
.navbar a {
  text-decoration: none;
  padding-right: 15px;
  padding-left: 15px;
  display: block;
}

/* change color on hover */
.navbar a:hover {
  background-color: var(--yellow);
  color: var(--dark);
}

.navbar li {
  float: left
}


